/* Reset */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
}

/* Navbar */
.navbar {
    background-color: #900404;
    padding: 10px 0;
    text-align: center;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li:not(:last-child) {
    border-right: 1px solid #fff;
    padding-right: 10px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: font-size 0.2s, opacity 0.2s;
}

.nav-links li:hover a {
    opacity: 1;
}

.nav-links li:hover ~ li a {
    opacity: 0.6;
}

/* Individual Link Hover Effects */
.nav-links li:nth-child(1):hover a {
    font-size: 18px;
}

.nav-links li:nth-child(1):hover ~ li a {
    opacity: 0.6;
}

.nav-links li:nth-child(2):hover a {
    font-size: 18px;
}

.nav-links li:nth-child(2):hover ~ li a {
    opacity: 0.6;
}

.nav-links li:nth-child(3):hover a {
    font-size: 18px;
}

.nav-links li:nth-child(3):hover ~ li a {
    opacity: 0.6;
}

/* Container */
.container {
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

/* Heading */
h1 {
    margin-bottom: 30px;
    color: #900404;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #900404;
    text-align: center;
}

th {
    background-color: #900404;
    color: #fff;
}

/* Alternating Row Colors */
tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.8);
}

tr:nth-child(odd) {
    background-color: rgba(220, 199, 180, 0.8);
}
